[project]
	description = my first repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/truptibhakare
[access "refs/for/refs/*"]
	read = group user/truptibhakare
	push = group user/truptibhakare
	label-Code-Review = -2..+2 group user/truptibhakare
	label-Verified = -1..+1 group user/truptibhakare
	rebase = group user/truptibhakare
	removeReviewer = group user/truptibhakare
	submit = group user/truptibhakare
[access "refs/heads/*"]
	read = group user/truptibhakare
	create = group user/truptibhakare
	push = +force group user/truptibhakare
	pushMerge = group user/truptibhakare
[access "refs/tags/*"]
	push = +force group user/truptibhakare
	pushTag = group user/truptibhakare
	pushSignedTag = group user/truptibhakare
